<li>
  <%= gravatar_for user, size: Settings.users.index.size %>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user.current_user?(user) %>
    <%= link_to t(".Delete"), user, method: :delete,
                                    data: {confirm: t("conf_delete")},
                                    class: "btn  btn-danger btn-xs" %>
  <% end %>
</li>
